.exercise-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;

    list-style: none;
}
.list-container{
    width: 80%;
}
.exercise{
    width: 100%;
    margin: 0;
    border-top: 2px solid var(--highlight-2-color);
}
.exercise li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--xs-padding) 0 0 0;
    padding: var(--xs-padding) 0 0 0;

    font-size: var(--caption);
    font-weight: bold;
    
    transition: all 0.3s;
}
.exercise-list li:last-child{
    margin: var(--xs-padding) 0 var(--m-padding) 0;
}
.exercise-list li span{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 0 var(--m-padding) 0 0 ;
}
.exercise input[type="number"]{
    height: var(--input-height);
    width: var(--input-width);
    margin: 0 0 0 var(--xs-padding);

    font-weight: bold;
    font-size: var(--caption);
    text-align: center;

    border: 2px solid var(--nav-bar-color);
    border-radius: var(--xs-padding);
    
    color: var(--sub-text-color);
    background-color: var(--nav-bg-color);
}
.exercise input:not(:placeholder-shown){
    background-color: var(--sub-text-color);
    color: var(--screen-color);
}
.exercise input:focus{
    outline: none;
    border-color: var(--sub-text-color);
    box-shadow: 0 0 0 2px var(--sub-text-color);
}
.exercise button[type="submit"]{
    height: var(--check-height-width);
    width: var(--check-height-width);
    margin: 0 var(--xs-padding) 0 0;

    border: 0px;
    border-radius: var(--xs-padding);

    background-color: var(--nav-bg-color);
}
.exercise button[type="submit"]:hover{
    background-color: var(--highlight-color);
}
button[title="Edit"]{
    margin-left: auto;
    margin-right: var(--sm-padding);
}
button[title="Edit"] .icon{
    max-width: 28px;
    max-height: 28px;
}
.exercise .checked-set{
    padding-bottom: 8px;
    padding-left: 8px;

    font-size: var(--check-mark);

    background-color: var(--highlight-color);
}
.exercise-list li button:hover{
    color: var(--main-text-color);
}
.exercise-name{
    margin: 0 !important;

    font-size: var(--small-headline);
    font-weight: bold; 
}
.exercise div{
    height: var(--divider-height);
    margin-left: var(--sm-padding);

    border-left: 3px solid var(--highlight-2-color);
}
.right-btns{
    margin-left: auto;
    margin-right: var(--xs-padding);
    display: flex;

    font-size: var(--small-headline);
}
.notes{
    width: 96%;
    padding: var(--xs-padding) var(--sm-padding);
    margin: 0 calc(-1*var(--m-padding)) !important;

    border-radius: var(--sm-padding);

    background-color: var(--nav-bg-color);
    color: var(--sub-text-color);
}