.edit-form{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}
.edit-form li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--xs-padding) 0;
    position: relative;
}
.edit-form li ul{
    margin-top: -20px;
    padding: 0;
    transition: 0.2s;
}
.edit-form li ul li:first-child{
    padding-top: var(--sm-padding);
    border-top: 3px solid var(--highlight-2-color);
}
.edit-form li ul li:last-child{
    padding-bottom: var(--sm-padding);
}
.edit-form input, .edit-form select, .split-name-form{
    margin: 0 var(--sm-padding);
    z-index: 1;

    font-size: var(--caption);
    text-align: center;
    font-weight: bold;

    background-color: var(--second-div-color);
    color: var(--main-text-color);

    border-radius: var(--sm-padding);
    border: none;

    transition: all 0.3s;
}
.edit-form input{
    padding: var(--xs-padding);
    height: var(--sm-padding);
}
.edit-form select{
    padding-left: var(--xs-padding);
    height: 30px;
    text-align: left;
}
.edit-form select:focus{
    outline: none;
}
.edit-form select option{
    font-weight: bold;
}
.edit-form select option:checked{
    background-color: var(--highlight-2-color);
}
.edit-form select option:hover{
    background-color: var(--highlight-color) !important;
}
.edit-form input:focus, .edit-form select:focus, .split-name-form:focus{
    border: none;
    outline: none;

    box-shadow: 0 0 0 2px var(--sub-text-color);
}
.edit-form input[type="number"]{
    width: 40px;
    margin: 0 8px 0 0;
}
.edit-form input:not(:placeholder-shown), .split-name-form:not(:placeholder-shown){
    background-color: var(--sub-text-color);
    color: var(--screen-color);
}
.split-name-form{
    margin: var(--sm-padding) 0 var(--m-padding) 0;
    width: 80%;
    padding: var(--sm-padding) 0;
    height: var(--l-padding);

    border-radius: var(--m-padding);

    font-size: var(--hero-headline);
}
.edit-form input[placeholder="Notes"]{
    width: 366px;
    margin-top: var(--sm-padding);
}
.edit-form input[placeholder="Search Exercise"]{
    width: 212px;
}
.edit-form button[type="submit"]{
    height: var(--check-height-width);
    width: var(--check-height-width);
    margin: 0 var(--xs-padding) 0 0;

    border: 0px;
    border-radius: var(--xs-padding);

    background-color: var(--second-div-color);
}
.edit-form button[type="submit"]:hover{
    background-color: var(--highlight-color);
}
.edit-form span{
    margin-right: var(--xs-padding);
    font-size: var(--caption);
    font-weight: bold;
}
.edit-form .line{
    height: 20px;
    width: 3px;
    margin-left: var(--xs-padding);
    margin-right: var(--m-padding);
    background-color: var(--highlight-2-color);
}
.add-btn, .del-btn{
    margin-left: calc(-1 * var(--sm-padding));

    background-color: var(--screen-color);
    transition: all 0.3s;
    z-index: 0;
}
.del-btn, .col-btn{
    position: absolute;
    right: -40px;
}
.add-btn svg, .del-btn svg{
    stroke: var(--main-text-color);
    transition: 0.3s;
}
.add-btn svg:hover, .del-btn svg:hover{
    stroke: var(--highlight-color);
}
.edit-workout-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    right: -30px;
    margin-left: var(--m-padding);
}
.edit-form h3{
    right: 324px;
    text-align: right;
    position: absolute;
}
.rest-day{
    background-color: var(--scroll-bar-color) !important;

    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hide-btn{
    pointer-events: none;
}
.hide-btn svg{
    stroke: var(--scroll-bar-color) !important;
}
.muscle-map{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    padding-bottom: var(--m-padding);

    border-radius: 30px;
}
.muscle-map svg g{
    transition: 0.3s;
}
.muscle-map g[id="background"]{
    fill: var(--sub-text-color);
    stroke: var(--sub-text-color);
}
.muscle-map:not(#background){
    fill: var(--nav-bg-color);
    stroke: var(--nav-bg-color);
    stroke-width: 2.5px;
}
.muscle-hover{
    fill: var(--highlight-color);
    stroke: var(--highlight-color);
}
.muscle-worked-primary{
    fill: var(--highlight-color);
    stroke: var(--highlight-color);
}
.muscle-hover-primary{
    fill: var(--highlight-2-color) !important;
    stroke: var(--highlight-2-color) !important;
}
.muscle-worked-secondary{
    fill: var(--highlight-2-color);
    stroke: var(--highlight-2-color);
}
.muscle-hover-secondary{
    fill: var(--nav-bg-color) !important;
    stroke: var(--nav-bg-color) !important;
}
.muscles-worked{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 520px;
    height: 120px;
    margin-bottom: var(--m-padding);

    border-radius: var(--m-padding);

    
}
.muscles-worked div{
    background-color: var(--second-div-color);
    width: 240px;
    border-radius: var(--sm-padding);
}
.muscles-worked ul{
    margin-top: var(--xs-padding);
    list-style: none;
    text-align: left;
    width: 220px;
    height: 80px;
    overflow-y: scroll;
}
.muscles-worked h4{
    margin-top: var(--sm-padding);
}
.add-exercise{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}