nav{
    height: 60px;
    display: flex;
    justify-content: center;
}
nav ul{
    list-style: none;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: 90%;
}
.nav-top{
    position: absolute;
    background-color: var(--nav-bg-color);
    border-radius: var(--m-padding) var(--m-padding) 0 0;
    width: 100%;
    top:0;
    padding-bottom: var(--xs-padding);
    
}
.nav-bottom{
    position: absolute;
    background-color: var(--nav-bg-color);
    border-radius: 0 0 var(--m-padding) var(--m-padding);
    width: 100%;
    bottom: 0;
}
.nav-bottom ul{
    justify-content: space-between;
}
button, a{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: var(--caption);
    transition: all .3s;
    color: var(--main-text-color);
    font-weight: bold;
    cursor: pointer;
    height: 48px;
}
.nav-bottom button, .nav-bottom a{
    background-color: var(--nav-bg-color);
    border-style: solid;
    border-width: var(--border-width) 0px 0px 0px;
    border-color: var(--nav-bg-color);
    margin: 0 var(--sm-padding) var(--sm-padding) var(--sm-padding);
    width: 72px;
}
.main-btn{
    height: 68px;
    width: 68px !important;
    font-size: var(--small-headline);
    color: var(--main-text-color);
    font-weight: bold;
    border-radius: 36px;
    border-style: solid;
    border-width: 0 !important;
}
li:has(.main-btn){
    position: relative;
    bottom: var(--sm-padding);
}
.nav-top button, .nav-top a{
    background-color: var(--nav-bg-color);
    border-style: solid;
    border-width: 0px 0px var(--border-width) 0px;
    border-color: var(--nav-bg-color);
    width: 64px;
    height: 52px;
    margin: var(--l-padding) var(--xs-padding) var(--sm-padding) 0;
}
.nav-top p{
    margin: var(--sm-padding) 0 0 0;
    color: var(--sub-text-color);
    font-size: var(--caption);
    font-weight: bold;
    line-height: 1.4;
}
.nav-top em{
    font-size: var(--small-headline);
    color: var(--main-text-color);
    font-style: normal;
}
.nav-top ul{
    display: flex;
    justify-content: space-between;
}
.nav-top-buttons{
    display: flex;
    right: 0;
    justify-content: flex-end;
}
.icon{
    max-width: 36px;
    max-height: 36px;
    fill: none;
    stroke: var(--main-text-color);
    transition: all .3s;
}
button:hover:not(.active), a:hover:not(.active){
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}
button:hover:not(.active) .icon path{
    stroke: var(--highlight-color);
}
.main-btn:hover:not(.active){
    transform: scale(1.05);
}
.active{
    color: var(--highlight-2-color);
}