body{
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
}
:root{
    /* Variables for spacing */
    --xs-padding: 8px;
    --sm-padding: 12px;
    --m-padding: 24px;
    --l-padding: 36px;
    /* Font sizes */
    --caption: 12px;
    --small-headline: 16px;
    --hero-headline: 36px;
    --sub-heading: 24px;
    --border-width: 3px;
    /* Light mode colors */
    --bg-color: #838383;
    --screen-color: #f1f0ef;
    --nav-bg-color: #dde3e4;
    --main-text-color: #56524B;
    --sub-text-color: #72706c;
    --highlight-color: #eead6c;
    --highlight-2-color: #d57d3e;
    
}
.app-container{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 784px;
    border-radius: var(--m-padding);
    background-color: var(--screen-color);
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 80px var(--m-padding) 0 var(--m-padding);

}
