body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--bg-color);
    color: var(--main-text-color);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
:root{
    /* Variables for spacing */
    --xs-padding: 8px;
    --sm-padding: 12px;
    --m-padding: 24px;
    --l-padding: 36px;
    /* Variables for formatting */
    --input-width: 60px;
    --input-height: 24px;
    --divider-height: 32px;
    --check-height-width: 16px;
    /* Font sizes */
    --caption: 12px;
    --small-headline: 16px;
    --hero-headline: 36px;
    --sub-heading: 24px;
    --check-mark: 20px;
    --border-width: 3px;
    /* Dark mode colors */
    --bg-color: #ffffff;
    --screen-color: #242423;
    --nav-bg-color: #343939 ;
    --second-div-color: #485255;
    --main-text-color: #cfccc5;
    --sub-text-color: #9b9995;
    --scroll-bar-color: #424240;
    --highlight-color: #eead6c;
    --highlight-2-color: #d1854e;
    --highlight-3-color: #d9bc99;
    
}
.root[data-theme="light"]{
    --bg-color: #838383;
    --screen-color: #f1f0ef;
    --nav-bg-color: #dde3e4;
    --main-text-color: #56524B;
    --sub-text-color: #72706c;
    --scroll-bar-color: #c3c4bf;
    --highlight-color: #eead6c;
    --highlight-2-color: #d57d3e;
    --highlight-3-color: #d9bc99;
}
.app-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 600px;
    height: 784px;
    
    border-radius: var(--m-padding);

    background-color: var(--screen-color);

    position: relative;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 624px;
    margin: 84px 12px;

    text-align: center;

    overflow-y: scroll;
}
.main-path-bar{
    height: 600px;
    margin-top: 108px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--screen-color); 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color); 
    border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--sub-text-color); 
}

h1{
    font-size: var(--hero-headline);
}
h2{
    font-size: var(--sub-heading);
    font-weight: lighter;
    margin-top: calc(-1 * var(--sm-padding));
}

/* Buttons */
.col-btn{
    margin-left: calc(-1 * var(--sm-padding));
    position: absolute;
    right: -40px;

    background-color: var(--screen-color);
    transition: all 0.3s;
    z-index: 0;
}
.col-btn svg{
    rotate: 0deg;
}
.col-btn svg{
    stroke: var(--main-text-color);
    transition: 0.3s;
}
.col-btn svg:hover{
    stroke: var(--highlight-color);
}